name: deploy-app

on:
  workflow_run:
    workflows: ["build-infras"]
    types:
      - requested
      - completed
  push:
    branches:
      - development
      - staging
      - production
    paths-ignore:
      - "terraform/**"
      - ".github/workflows/ci-tf.yml"
      - ".github/workflows/build-infras.yml"

concurrency:
  group: ${{ github.ref_name }}-deployment
  cancel-in-progress: true

permissions:
  contents: read
  actions: read

jobs:
  deploy:
    if: github.event_name == 'push' || github.event_name == 'workflow_run' && github.event.workflow_run.conclusion == 'success'
    runs-on: ubuntu-latest
    environment: ${{ github.ref_name }}
    steps:
      - run: echo "conclusion = ${{ github.event.workflow_run.conclusion }}"
